h1 {
  font-family: 'Spectral', serif;
  font-size: 100px;
}

p {

}

.text {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

#container {
}

#head {
  font-family: 'Spectral', serif;
  text-align: center;
  text-decoration-color: #B53737;
  color: #B53737;
  font-size: 100px;
}

#byline {
  font-family: 'Raleway', sans-serif;
}

#footer {
  text-align: center;
  background-color: black;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-weight: bolder;
  text-decoration-color: white;
  margin: auto;
}

.caption {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-size: 20px;
}

blockquote {
font-family: 'Spectral', serif;
font-size: 50px;
font-style: italic;
margin-top: 15px;
margin-bottom: 15px;
color: #B53737;
margin-left: 50px;
padding-left: 15px;
border-left: 4px solid #ccc;
}
