
ul {
  list-style-type: none;
}

.photoicon {
  align-content: center;
  margin: auto;
}

.navbar {
font-family: Verdana, Arial, sans-serif;
font-size: 20px;
font-weight: bolder;
text-transform: uppercase;
text-align: center;
align-items: center;
background-color: #E2AD22;
color: white; 
}

.img-fluid {

max-width: 100%;
height: auto;

}

.col-md-4 {

}

.container  {
width:100%;
padding-right:15px;
padding-left:15px;
margin-right:auto;
margin-left:auto
}
