.navbar {
font-style: "Sana", Arial, sans-serif;
font-size: 20px;
font-weight: normal;
text-transform: uppercase;
text-align: center;
}

.img-fluid {

max-width: 100%;
height: auto;

}

.container  {
width:100%;
padding-right:15px;
padding-left:15px;
margin-right:auto;
margin-left:auto
}

.footer-right  {
  float:right!important
}
