#content {
  margin: 0 auto;
  width: 900px;
}

p {
    font-family: "Times New Roman", Times, serif;
}


#pagetopper {
  text-align: center;
  image-orientation: center;
  width: 100%;
  min-width: 300px;
}

#headline {
  text-align: center;
  font-size: 20em;
  font-weight: bold;
}

blockquote {
  font: 24-x normal helvetica, sans-serif;
  font-style: italic;
  margin-top: 15px;
  margin-bottom: 15px;
  color: red;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 4px solid #ccc;
}
