#content {
  margin: 0 auto;
  width: 900px;
}

#pagetopper {
  text-align: center;
  width: 100%;
  min-width: 300px;
}

blockquote {
  font: 24-x normal helvetica, sans-serif;
  font-style: italic;
  margin-top: 15px;
  margin-bottom: 15px;
  color: red;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 4px solid #ccc;
}
