#content {
  margin: 0 auto;
  width: 900px;
}

p {
    font-family: "Times New Roman", Times, serif;
}


#pagetopper {
  text-align: center;
  image-orientation: center;
  width: 100%;
  min-width: 300px;
}

#headline {
  font-size: 20px;
  font-weight: 400; 
  font-family: Helvetica, sans-Serif;
  background-color: black;
  color: white;
  border: white;
  border-width: medium;

}

#byline {
font-family: Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
}

#body {
  font-family: Georgia; Serif;
  font-size: 13px;
}

#blockquote{
  font: 24-x normal helvetica, sans-serif;
  font-style: italic;
  margin-top: 15px;
  margin-bottom: 15px;
  color: red;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 4px solid #ccc;
}

blockquote {
  font: 24-x normal helvetica, sans-serif;
  font-style: italic;
  margin-top: 15px;
  margin-bottom: 15px;
  color: red;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 4px solid #ccc;
}
