#wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.top-nav {
  color: white;
  margin: 0 auto;
  text-transform: uppercase;
  background-color: black;
  font-weight: 700;
  font-family: 'Forum', cursive;

}

h1 {
  font-family: 'Forum', cursive;
  font-size: 100px;
}

h2 {
  font-family: 'Forum', cursive;
  font-size: 50px;
  text-decoration-color: #B53737;

}

h3 {
  font-family: 'Forum', cursive;
  font-size: 25px;
  text-decoration-color: black;

}

#container {
  font-family: 'Forum', cursive;
}

#head {
  font-family: 'Forum', cursive;
  text-align: center;
}

#byline {
  font-family: 'Forum', cursive;
}

#footer {
  text-align: center;
  background-color: black;
  font-family: 'Forum', cursive;
  color: white;
  font-weight: bolder;
  text-decoration-color: white;
  margin: auto;
}

.caption {
  font-family: 'Forum', cursive;
  font-style: italic;
}

blockquote {
font-family: 'Forum', cursive;
font-size: 50px;
font-style: italic;
margin-top: 15px;
margin-bottom: 15px;
color: #B53737;
margin-left: 50px;
padding-left: 15px;
border-left: 4px solid #ccc;
}
