/* styles for my resume */

/* paragraph selector */

*{
  font-family: OpenSans, Arial, sans-serif;
}
p {
  font-family: OpenSans, Arial, sans-serif;
  size: 1em;
  color: #444;
  font-weight: 400;
}

/* unordered list selector */
ul {
  font-family: OpenSans, Arial, sans-serif;
  size: 1em;
  color: #444;
  font-weight: 400;
}

/* list selector */
li {
  font-family: OpenSans, Arial, sans-serif;
  size: 1em;
  color: #444;
  font-weight: 400;
}

/* head selector */
head {
  font-family: OpenSans, Arial, sans-serif;
  size: 1em;
  color: #444;
  font-weight: 400;
}


/* name selector */
.name {
  font-size: 3em;
  color: #33485e;
  text-transform: uppercase;
  text-align: center;

}

/* title selector */
.title
{
  text-transform: uppercase;
  size: 1.5em;
  color: #33485e;

}

/* section selector */
.section {
  size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  color: #FFFFFF;
  font-weight: 400;
}

/* job title selector */
.jobtitle {
  font-weight: 600;
  size: 1.5em;
}

/* job organization selector */
.joborg {
  font-weight: 400;
  size: 1.5em;

}

/* job dates selector */
.jobdate {
  font-weight: 400;
  font-style: italic;
  size: 1em;
}

/* selector that includes Contact Info, Skills, and Education */
.other {
  size: 1em;
}

.menu {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  text-align: center;
  display: inline;
}

#degrees {
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#do {
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#title {
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;

}

#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}
