p {
  font-family: : OpenSans;
}

li {
  font-family: OpenSans;
}

head {
  font-family: OpenSans;
}
.name {
  font-size: 3em;
  color: #33485e;
  text-transform: uppercase;
  text-align: center;

}

.title
{
  text-transform: uppercase;

}
