h1 {
  font-family: 'Josefin Slab', serif;
}

h2 {
  font-family: 'Josefin Slab', serif;
}

#container {
  font-family: 'Josefin Slab', serif;
}

#head {
  font-family: 'Josefin Slab', serif;
  text-align: center;
}

#byline {
  font-family: 'Josefin Slab', serif;
}

#footer {
  text-align: center;
  background-color: black;
  font-family: 'Josefin Slab', serif;
  color: white;
  font-weight: bolder;
  text-decoration-color: white;
  margin: auto;
}
