h1 {
  font-family: 'Josefin Slab', serif;
}

#head {
  font-family: 'Josefin Slab', serif;
  text-align: center;
}

#container {

}

#footer {
  text-align: center;
  background-color: black;
  margin: auto;
}
