p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;

}

/* This is styling for paragraphs */


#container {
  column-count: 1;
  column-width: auto;
}

#mainheadline {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
}

#subheading {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

#bylinepub {
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
}

.caption {
  font-family: Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 11px;
  font-weight: normal;
}

blockquote {
font: 45px normal Verdana, sans-serif;
font-style: italic;
margin-top: 15px;
margin-bottom: 15px;
color: #E54855;
margin-left: 50px;
padding-left: 15px;
border-left: 4px solid #ccc;
}
